# DB_PROVIDER=mysql
# DB_USERNAME=root
# DB_PASSWORD=root
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_NAME=db_example
# API_SECRET=secretkey
# TOKEN_HOUR_LIFESPAN=24
# HOST=localhost:8080
# ENVIRONMENT=development